<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
<!-- <% const name = 'shit'%>
<%= name %> -->
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Accusamus distinctio illum debitis iste amet eaque, ad magnam 
            optio vel. Aliquam distinctio,
             quisquam vitae quod ad nobis aut eaque est necessitatibus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Accusamus distinctio illum debitis iste amet eaque, ad magnam 
            optio vel. Aliquam distinctio,
             quisquam vitae quod ad nobis aut eaque est necessitatibus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Accusamus distinctio illum debitis iste amet eaque, ad magnam 
            optio vel. Aliquam distinctio,
             quisquam vitae quod ad nobis aut eaque est necessitatibus?</p>
    </div>

   <%- include('./partials/footer.ejs') %>

</body>
</html>

